


.box_one {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  opacity: 1;
}
.mid-headers{
  border-radius: 4px;
  border: 1px solid #BBB;
  margin-bottom: 10px;
  margin-top: 10px;
  width:900px;
}