.regouter_box {
  background-color: white !important;
  border-radius: 10px !important;
  display: flex !important;
  justify-content: center !important;
  padding: 20px;
}
.registerContainer {
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: white !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.flightNavBar {
  width: 100%;

  margin-top: 20px;
}
.flightNavBarContainer {
  width: 80%;
  height: auto;
  margin: 20px;
}

/* form input */

.form_input {
  height: 90% !important;
  position: relative !important;
  width: 100% !important;
}

.form_input input {
  width: 100% !important;
  height: 50px !important;
  padding-left: 25px !important;
  border-radius: 10px !important;
  border: 3px solid #70707069 !important;
}

.form_input .lable {
  font-size: 13px !important;
  color: #4e4c4c !important;
  font-weight: 700 !important;
  font-family: "Quicksand", sans-serif !important;
}

.form_input .from_input::placeholder,
.to_input::placeholder {
  color: #4e4c4ca1 !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  font-family: "Quicksand", sans-serif !important;
}

.form_lable {
  color: #4e4c4c !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  font-family: "Quicksand", sans-serif !important;
  left: 10px !important;
  line-height: 14px !important;
  pointer-events: none !important;
  position: absolute !important;
  transform-origin: 0 50% !important;
  top: 24px;
  transform: translateY(-30px) translateX(10px) !important;
  background: #fff !important;
  padding: 0px 8px !important;
}

.form_lable1 {
  color: #4e4c4c !important;
  font-size: 13px !important;
  font-weight: Bold !important;
  margin-bottom: 1rem !important;
}

.form_input_select {
  width: 100% !important;
  border: 10px;
  border-radius: 10px !important;
  height: 50px !important;
  border: 3px solid #0f0d0d69 !important;
}

/*end  */

.input_size {
  display: flex !important;
  justify-content: center !important;
}

.registrationNNContainer {
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: url("../../Images/loginbackground.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
