.holiday_submit {
    color: white;

    width: 200px;
    height: 56px;
    text-align: center;
    opacity: 1;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #5C85A4;

    background: #FFFBFB;
}

.search__Input {
    margin: 5px 15px !important;
}

.holiday_submit:hover {
    background-color: rgb(61, 144, 144);
    color: white;
}

.error {
    color: red;
}


.packageFirstPage {
    max-width: 900px;
    margin: 0px 30px;
    padding: 40px;
}

.buttonBoxHoliday {
    display: flex;
    justify-content: center;
    align-items: center;
}