.text {
  list-style: none;
}
.logoname {
  background-color: white;
  border-radius: 5px;
}
.active-nav {
   border-radius: 5px;  
  background-color: brown;
   border:"5px solid red"
}
.squre:hover{
  background-color: rgb(240, 186, 153);
}
