.text {
  list-style: none;
}
.logoname {
  background-color: white;
  border-radius: 5px;
}
.active-nav {
   border-radius: 5px;  
   background-image:linear-gradient(white,#D4F1F4);
}
.squre:hover{
  background-color: rgb(240, 186, 153);
}
